<!doctype html>
<html>
  <head>
    <link rel="subresources" href="/css/style.css">
    <link rel="subresources" href="/js/<%= page.js ? page.js : is_post() ? 'page__post.js' : 'page__main.js' %>">

    <link rel="dns-prefetch" href="mc.yandex.ru">
    <link rel="dns-prefetch" href="w.soundcloud.com">

    <% if (is_post()) { %>
      <link rel="prefetch" href="/js/page__main.js">
    <% } else { %>
      <link rel="prefetch" href="/js/page__post.js">
      <link rel="subresources" href="/img/header.jpg">
    <% } %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%
    var title = page.title;

    if (is_home()) {
      title = config.main_title;
    } else if (is_tag()){
      title = 'Tag: ' + page.tag;
    }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/img/icons/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="514753">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/img/icons/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#FFC642">

    <meta name="theme-color" content="#3D383E">

    <link rel="shortcut icon" href="/favicon.png">

    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:url" content="<%= page.permalink %>">
    <meta property="og:site_name" content="<%= config.title %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= title %>">

    <% if (page.img) { %>
      <meta property="og:image" content="<%= page.img %>">
    <% } %>

    <% if (page.description) { %>
      <meta property="og:description" content="<%= page.description %>">
      <meta name="twitter:description" content="<%= page.description %>">
    <% } %>

    <% if (is_home()) { %>
      <%- partial('critical-css/main') %>
    <% } else if (is_post()) { %>
      <%- partial('critical-css/post') %>
    <% } else if (is_tag()) { %>
      <%- partial('critical-css/tag') %>
    <% } %>
  </head>
  <body>
