<div class="page-row">
    <header class="header clearfix -post -no-desc">

        <% if (document.img) { %>
            <div class="header__bg" style="background-image: url(<%= document.img %>)"></div>
        <% } else { %>
            <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>
        <% } %>

        <div class="header__top clearfix">
            <a href="/" class="header__logo">
                <img src="/img/avatar.png" alt="" class="header__logo-img">
            </a>

            <%- partial('nav') %>

            <%- partial('header/header__contacts') %>
        </div>

        <div class="header__content">

            <h1 class="title -size-1"><%= document.title %></h1>

            <% if (document.description) { %>
                <p class="header__content-desc">
                    <%= document.description %>
                </p>
            <% } %>

            <div class="header__intro-sep"></div>

            <div class="header__post-info">
                <span class="header__post-info-date"><%= document.humanDate %></span>
                <ul class="header__post-info-tags">
                    <% document.tags.forEach(function(tag) { %>
                        <li><a href="/tags/<%= tag %>.html">#<%= tag %></a></li>
                    <% }); %>
                </ul>
            </div>

        </div>

    </header>
</div>
