<div class="page-row">
    <header class="header clearfix -post -no-desc">

        <% if (page.img) { %>
            <div class="header__bg" style="background-image: url(<%= page.img %>)"></div>
        <% } else { %>
            <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>
        <% } %>

        <div class="header__top clearfix">
            <a href="/" class="header__logo">
                <img src="/img/avatar.png" alt="" class="header__logo-img">
            </a>

            <%- partial('_partial/nav') %>

            <%- partial('_partial/header/header__contacts') %>
        </div>

        <div class="header__content">

            <h1 class="title -size-1"><%= page.title %></h1>

            <% if (page.description) { %>
                <p class="header__content-desc">
                    <%= page.description %>
                </p>
            <% } %>

            <div class="header__intro-sep"></div>

            <div class="header__post-info">
                <span class="header__post-info-date"><%- date(page.date) %></span>
                <ul class="header__post-info-tags">
                    <% page.tags.forEach(function(tag) { %>
                        <li><a href="/<%= tag.path %>">#<%= tag.name %></a></li>
                    <% }); %>
                </ul>
            </div>

        </div>

    </header>
</div>
