<!doctype html>
<html lang="">
  <head>

    <link rel="subresources" href="/css/style.css">
    <link rel="subresources" href="/js/<%= document.js ? document.js : document.layout === 'post' ? 'page__post.js' : 'page__main.js' %>">

    <link rel="dns-prefetch" href="mc.yandex.ru">
    <link rel="dns-prefetch" href="w.soundcloud.com">
    <link rel="dns-prefetch" href="disqus.com">
    <link rel="dns-prefetch" href="a.disquscdn.com">

    <% if (document.layout === 'post') { %>
      <link rel="prefetch" href="/js/page__main.js">

      <% prevPost = getPrevPost() %>
      <% nextPost = getNextPost() %>

      <% if (prevPost) { %>
        <link rel="prerender" href="<%= prevPost.url %>">
      <% } %>

      <% if (nextPost) { %>
        <link rel="prerender" href="<%= nextPost.url %>">
      <% } %>

      <link rel="prerender" href="<%= site.url %>">
    <% } else { %>
      <link rel="prefetch" href="/js/page__post.js">

      <link rel="subresources" href="/img/header.jpg">

      <% getPageCollection('posts').toJSON().slice(0,3).forEach(function(post) { %>
        <link rel="prerender" href="<%= post.url %>">
      <% }); %>
    <% } %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= document.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= document.title %> | sysoev.org</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/img/icons/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="514753">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/img/icons/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#FFC642">

    <meta name="theme-color" content="#514753">

    <link rel="shortcut icon" href="/favicon.png">

    <% if (document.img) { %>
    <meta property="og:image" content="<%= site.url %><%= document.img %>" />
    <% } %>

    <% if (document.layout === 'layout') { %>
      <%- partial('critical_css/main') %>
    <% } else if (document.layout === 'post') { %>
      <%- partial('critical_css/post') %>
    <% } else if (document.layout === 'tag') { %>
      <%- partial('critical_css/tag') %>
    <% } %>
  </head>
  <body>
