<%- partial('_partial/header/header-post') %>
<div class="page-row-expanded">
    <div class="main-cont">
        <article class="post">

            <%- partial('_partial/post', {post: page, index: false}) %>

            <section class="section -narrow -bottom">
                <div class="share">
                    <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= config.url %><%= page.url %>"
                       class="share__item"
                       target="_blank"><i class="icon icon-social-twitter-outline"></i> twitter
                    </a>
                </div>
            </section>
        </article>
    </div>
</div>

<%- partial('_partial/photoswipe') %>

<%- partial('_partial/footer/footer-post') %>
